* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html,
body {
        font-family: Jost;
        background-color: white;
}

:root {
        --colorA: rgb(185, 184, 184);
    
}